.main {
  background: {
    image: url("../images/bg.jpg");
    position: right;
    size: initial;
    repeat: no-repeat;
  };

  &__text {
    color: $gray-200;

    background: {
      color: $blue;
    }

    padding: {
      left: 6rem;
      right: 6rem;
    };

    &__intro {
      margin-bottom: 2.5rem;
      letter-spacing: .1rem;

      font: {
        size: 1.1rem;
        weight: 400;
      }
    }

    &__title {
      font-size: 5rem;
      line-height: 1;
      margin-bottom: 3rem;
    }

    &__subtitle {
      margin-bottom: 2.5rem;

      font: {
        size: 1.1rem;
      }
    }
  }

  .height-100 {
    min-height: 750px;
  }
}

.about {
  &__content {
    min-height: 800px;
    color: $gray-100;

    background: {
      color: $darkBackground;
    };

    padding: {
      left: 7rem;
      right: 13rem;
    };
  }

  &__video {
    .ratio {
      width: 100%;
      margin-left: -8rem;
      @include shadow;
    }
  }
}

.services {
  background: {
    color: $blue;
  };

  &__content {
    padding: {
      top: 10rem;
      bottom: 10rem;
      left: 8rem;
      right: 10rem;
    };

    background: {
      color: $white;
    };
  }

  &__row {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    margin-top: 2rem;
    width: 45%;
    flex: 0 0 auto;

    &__icon {
      width: 3rem;

      margin: {
        bottom: .7rem;
        right: .9rem;
      }
    }

    &__title {
      letter-spacing: .12rem;

      font: {
        size: 1.5rem;
      }
    }
  }

  &__image {
    img {
      width: 88%;

      margin: {
        left: -6rem;
      }

      @include shadow;
    }
  }
}

.partners {
  padding: {
    top: 6rem;
  };

  .intro,
  .title {
    text-align: center;
  }

  &__grid {
    padding: {
      top: 4rem;
      bottom: 4rem;
    };

    background: {
      color: $darkBackground;
    }
  }

  &__images {
    img {
      width: 13rem;
    }
  }
}
