.main {
  background: {
    image: url("../images/bg.jpg");
    position: right;
    size: initial;
    repeat: no-repeat;
  };

  &__text {
    color: $gray-200;

    background: {
      color: $blue;
    }

    padding: {
      left: 6rem;
      right: 6rem;
    };

    &__intro {
      margin-bottom: 2.5rem;
      letter-spacing: .1rem;

      font: {
        size: 1.1rem;
        weight: 400;
      }
    }

    &__title {
      font-size: 5rem;
      line-height: 1;
      margin-bottom: 3rem;
    }

    &__subtitle {
      margin-bottom: 2.5rem;

      font: {
        size: 1.1rem;
      }
    }
  }

  .height-100 {
    min-height: 750px;
  }
}

.about {
  &__content {
    min-height: 800px;
    color: $gray-100;

    background: {
      color: $darkBackground;
    };

    padding: {
      left: 7rem;
      right: 13rem;
    };
  }

  &__video {
    .ratio {
      width: 100%;
      margin-left: -8rem;
      -webkit-box-shadow: 0 0 50px 6px rgba(0,0,0,0.59);
      box-shadow: 0 0 50px 6px rgba(0,0,0,0.59);
    }
  }
}
