.btn {
  @include border-radius;

  &--small {
    padding: {
      top: .5rem;
      bottom: .5rem;
      left: 1.5rem;
      right: 1.5rem;
    }
  }

  &--big {
    padding: {
      top: 1.7rem;
      bottom: 1.7rem;
      left: 3.7rem;
      right: 3.7rem;
    }
  }

  &--xbig {
    padding: {
      top: 1.9rem;
      bottom: 1.9rem;
      left: 4.5rem;
      right: 4.5rem;
    }
  }

  &--fluid {
    width: 100%;
    text-align: center;

    padding: {
      left: unset !important;
      right: unset !important;
    }
  }

  &--white {
    background-color: $gray-200;
    color: $black;

    &:hover {
      color: $black !important;
      background-color: $gray-300 !important;
    }
  }

  &--blue {
    background-color: $blue;
    color: $gray-300;

    &:hover {
      color: $gray-300 !important;
      background-color: darken($blue, 10%) !important;
    }
  }

  &--dark-blue {
    background-color: $darkBlue;
    color: $gray-300;

    &:hover {
      color: $gray-300 !important;
      background-color: darken($darkBlue, 10%) !important;
    }
  }

  &--outline {
    color: $gray-200;

    @include border;
    @include border-radius;

    &:hover {
      color: $black !important;
      background-color: $gray-300 !important;
    }
  }

  &--text {
    padding: 0;
  }
}
