.btn {
  @include border-radius;

  &--big {
    padding: {
      top: 1.7rem;
      bottom: 1.7rem;
      left: 3.7rem;
      right: 3.7rem;
    }
  }

  &--xbig {
    padding: {
      top: 1.9rem;
      bottom: 1.9rem;
      left: 4.5rem;
      right: 4.5rem;
    }
  }

  &--white {
    background-color: $gray-200;
    color: $black;

    &:hover {
      color: $black !important;
      background-color: $gray-300 !important;
    }
  }

  &--blue {
    background-color: $blue;
    color: $gray-300;

    &:hover {
      color: $gray-300 !important;
      background-color: darken($blue, 10%) !important;
    }
  }
}
