.form {
  &-floating {
    label {
      text-align: right;

      font: {
        size: .9rem;
      }

      padding: {
        top: 1.9rem;
        bottom: .5rem;
      }
    }
  }

  &-control {
    text-align: right;

    padding: {
      bottom: 0;
    };

    font: {
      size: .9rem;
    }

    border: {
      radius: 0;
      width: 0;
    };

    border-bottom: {
      width: 1px;
      style: solid;
      color: $gray-500;
    };

    &:not(:placeholder-shown)~label,
    &:focus~label {
      transform: scale(1) translateY(-1.7rem) translateX(.15rem) !important;
    }

  }
}
