
.navbar {
  padding: 0;

  &-brand {
    img {
      margin-left: 2rem;
      width: 12rem;
    }
  }

  &-nav {
    padding: {
      top: 1.2rem;
      bottom: 1.2rem;
      right: 1.5rem;
      left: 1.5rem;
    };

    background: {
      color: $blue;
    }
  }

  .nav {
    &-link {
      color: $gray-200;
      font-size: .9rem;
    }

    &-cta {
      margin: {
        left: .8rem;
        right: .5rem;
      }

      padding: {
        left: 2.5rem !important;
        right: 2.5rem !important;
      };

      border: {
        width: 1px;
        style: solid;
        color: $gray-200;
        radius: .9rem;
      };
    }
  }
}
