.navbar {
  padding: 0;
  position: fixed;

  &-brand {
    img {
      margin-left: 2rem;
      width: 12rem;
    }
  }

  &-nav {
    padding: {
      top: 1.2rem;
      bottom: 1.2rem;
      right: 1.5rem;
      left: 1.5rem;
    };

    background: {
      color: $blue;
    }
  }

  .nav {
    &-item {
      .nav {

        &-link {
          color: $gray-200;
          font-size: .9rem;
        }

        &-cta {
          margin: {
            left: .8rem;
            right: .5rem;
          }

          padding: {
            left: 2.5rem !important;
            right: 2.5rem !important;
          };

          border: {
            width: 1px;
            style: solid;
            color: $gray-200;
          };

          @include border-radius;

          &--white {
            color: $blue;

            background: {
              color: $gray-200;
            }
          }
        }

      }

      &:last-child {
        .nav-link {
          margin-left: .2rem;
        }
      }
    }
  }
}

.nav-dashboard {
  width: $marginDashboard;
  position: fixed;

  padding: {
    top: 1rem;
    bottom: .5rem;
  }

  .nav {
    &-link {
      text-align: center;
      color: $darkBlue;
      padding: 0;

      svg {
        margin: .9rem;
      }

      &.active {
        background-color: $darkBlue;
        color: $gray-200;
        border-radius: .6rem;
        margin: {
          bottom: .45rem;
          top: .45rem;
        }

        &:hover {
          color: $gray-200 !important;
        }
      }
    }
  }
}
