.dashboard {
  @include transition();

  width: calc(100% - $marginDashboard);
  min-height: 100vh;
  padding: 2rem 3.2rem;

  border-top: {
    left-radius: 1.2rem;
  };

  border-bottom: {
    left-radius: 1.2rem;
  };

  background: {
    color: $darkBlue;
  }

  margin: {
    left: $marginDashboard;
  }

  &.nav-collapsed {
    @include transition();

    width: calc(100% - $marginDashboardCollapsed);

    margin: {
      left: $marginDashboardCollapsed;
    }
  }
}
