@mixin shadow {
  -webkit-box-shadow: 0 0 50px 12px rgba(0,0,0,0.4);
  box-shadow: 0 0 50px 12px rgba(0,0,0,0.4);
}

@mixin dash-shadow {
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.66);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.66);
}

@mixin border-radius {
  border: {
    radius: .2rem;
  };
}

@mixin border($color: $gray-200) {
  border: {
    width: 2px;
    style: solid;
    color: $color;
  }
}
